@import url('./abstracts/vars.css');

@import url('./base/base.css');
@import url('./base/typography.css');

@import url('./layout/grid.css');
@import url('./layout/header.css');
@import url('./layout/navigation.css');
@import url('./layout/footer.css');

@import url('./components/components.css');


.search-img{
    
}
.featured-img{
    border-top-right-radius: 6rem;
    border-top-left-radius: 6rem;
}
.swiper{
    width: 90%;
}
.swiper-button-next{
    color: var(--clr-buttom);
}
.swiper-button-prev{
    color: var(--clr-buttom);
}
.divxd{
    position: relative;
}


