@import url('./abstracts/vars.css');

@import url('./base/base.css');
@import url('./base/typography.css');

@import url('./layout/grid.css');
@import url('./layout/header.css');
@import url('./layout/navigation.css');
@import url('./layout/footer.css');

@import url('./components/components.css');
html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-caracteristcs);
}
.featured-img{
    border-top-right-radius: 6rem;
    border-top-left-radius: 6rem;
    width: 100%;
}
.swiper{
    width: 80%;
    
}
.swiper-button-next{
    color: var(--clr-buttom);
}
.swiper-button-prev{
    color: var(--clr-buttom);
}
.divxd{
    position: relative;
}

@media (max-width: 1136px){
    .top-nav{
        padding: 0.5rem 1rem;
    }
 
    .header-container{
        height: 45rem; 
    }

    .hamburger-bottom{
        display: flex;
        position: sticky;
        z-index: 11;
    }
  
}

@media (max-width: 700px){
   
    .food-container{
        transition: none;
        
    }
    .food-container:hover {
        transform: none; /* Escala al 110% en el evento hover */
      }
   
}




@media (max-width: 500px){ 
    .navigation-list{
        display: grid;
        gap: 2rem;
        text-align: center;
        list-style-type: none;
        align-items: center;
        padding: 0;
    }   
}