.featured-section{
    padding: 4rem 0;
}
.main-section{
    background: var(--clr-main);
}
.featured-container{
    display: flex;
    width: 103rem;
    margin: auto;
    
}

.food-container {
    width: 22.88rem;
    height: 30rem;
    background: var(--clr-featured);
    border-radius: 6rem;
    text-align: center;
    transition: transform 0.3s ease;
    
  }
  
  .food-container:hover {
    transform: scale(1.1); /* Escala al 110% en el evento hover */
  }
 
.caracteristics-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
    background: var(--clr-caracteristcs);
    margin: auto;
    border-radius: 7rem;
    max-width: 78vw;
}

.center{
    display: grid;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    text-align: center;

}


.carrousel-arrows-container{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 108%;
    margin-top: 12rem;
}
.navigation-lists{
    display: flex;
    gap: 2rem;
}


.our-porpuse-container{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   width: 78vw;
    gap: 1rem;
    margin-top: 5.75rem;
}

.our-porpuse-section{
    display: grid;
    padding: 1rem;
    margin: auto;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}



/*Pagina2*/




 /*Pagina2*/

 /* Menu */
 .category-section{
    width: 80vw;
    margin: auto;
}
.category-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}
