.featured-section{
    padding: 4rem 0;
}
.main-section{
    background: var(--clr-main);
}
.featured-container{
    display: flex;
    width: 103rem;
    margin: auto;
    
}

.food-container {
   display: grid;
    background-color: var(--clr-featured);
    border-radius: 6rem;
    text-align: center;
    color: var(--clr-white);
    transition: transform 0.3s ease, color 0.3s ease;
    
  }
   .food-container:hover {
    transform: scale(1.05); 
    color: var();
  } 
 
.caracteristics-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
  
    background: var(--clr-main);
    margin: auto;
    border-radius: 7rem;
    max-width: 78vw;
}

.center{
    display: grid;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    text-align: center;

}


.carrousel-arrows-container{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 108%;
    margin-top: 12rem;
}
.navigation-lists{
    justify-content: space-around;
    display: flex;
    width: 100%;
}


.our-porpuse-container{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr)); 
    max-width: 78vw;
    gap: 1rem;
    margin-top: 5.75rem;
    text-align: center;
    align-items: center;
}


.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

/*SLIDER*/
.swiper-hero {
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media (max-width: 767.98px) {
    .swiper-hero {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

}

.swiper-hero .swiper-slide {
    width: 350px;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    text-align: center;
}

/*SLIDER*/



/*Pagina2*/

.buy-dish-container {
    display: grid;
    width: 88vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7rem;

}

.tags-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    place-items: center
}

.tag {
    display: grid;
    text-align: center;

    place-items: center;
}

.realated-dishes-container {
    margin-top: 4rem;
}

 /*Pagina2*/

 /* Menu */
.category-section{
    text-align: center;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    width: 90vw;
    margin:auto;
}


