.top-nav{
    display: flex;
    align-items: center;
    padding: 0.5rem 4.125rem;
    background: var(--clr-white);
    justify-content: space-between;
}
.logo{
  height: 7rem;
  margin: auto;
}
.navigation-list{
    display: flex;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
}
.navigation-element{
    text-decoration: none;
    color: var(--clr-black);
    font-family: var(--ff-mon);
    font-size: var(--fs-md);
    font-weight: var(--fw-md);
    align-content: center;
    text-wrap: nowrap;
}
.navigation-category-div{
    margin: auto;
}
.navigation-category{
    display: flex;
    align-items: center;
    background: var(--clr-buttom);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navigation-category-element{
    color: var(--clr-white);
    font-size: 4vw;
}
.navigation-login{
    gap: 2rem;
}
