.btn-explore{
    color: var(--clr-white);
    display: flex;
    font-family: var(--ff-mon);
    font-size: var(--fs-main-text);
    font-weight: var(--fw-md);
    text-decoration: none;
    align-items: center;
    background: var(--clr-buttom);
    padding: 0.7rem 3.5rem;
    border-radius: 2.5rem;
}
.details-buttom{
    font-family: var(--ff-mon);
    font-size: 1.4rem;
    font-weight: var(--fw-md);
    padding: 1rem 2rem;
    background: var(--clr-buttom);
    border-radius: 3rem;
    text-decoration: none;
    color: var(--clr-white);
}
/* .carousel-arrow-left{
    background: url(../../img/left-arrow.png);
}
.carousel-arrow-right{
    background: url(../../img/right-arrow.png);
}    */
.carousel-arrow{
    background: none;
    border-style: none;
    cursor: pointer;
}
.sign-in{
    padding: 1rem 1.5rem;
    color: var(--clr-white);
    border-radius: 4rem;
    background: var(--clr-caracteristcs);
}

.flags-img{
    width: 100%;
   
}

  .dish-details-img{
    display: block;
    width: 100%;
    border-radius: 1rem;
}

.button-orderNow{
    border: solid var(--clr-buttom);
    font-family: var(--ff-mon);
    font-weight: var(--fw-md);
    font-size: 4rem;
    border-radius: 3rem;
    border-width: .4rem;
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
    color: var(--clr-buttom);
    margin: auto;
    padding: 1rem;
    
}

.caracteristics-img{
    width: 2.5rem;
    height: 2.5rem;
}