.btn-explore{
    color: var(--clr-white);
    display: flex;
    font-family: var(--ff-mon);
    font-size: var(--fs-main-text);
    font-weight: var(--fw-md);
    text-decoration: none;
    align-items: center;
    background: var(--clr-buttom);
    padding: 0.7rem 3.5rem;
    border-radius: 2.5rem;
}
.details-buttom{
    font-family: var(--ff-mon);
    font-size: 1.4rem;
    font-weight: var(--fw-md);
    display: block;
    width: 50%;
    margin: auto;
    padding: 1rem 1.5rem;
    background: var(--clr-buttom);
    border-radius: 3rem;
    text-decoration: none;
    color: var(--clr-white);
    margin-bottom: 2rem;
}

.carousel-arrow{
    background: none;
    border-style: none;
    cursor: pointer;
}
.sign-in{
    padding: 1rem 1.5rem;
    color: var(--clr-white);
    border-radius: 4rem;
    background: var(--clr-caracteristcs);
}

.flags-img{
    width: 100%;
   
}

  .dish-details-img{
    display: block;
    width: 100%;
    border-radius: 1rem;
}

.button-orderNow{
    border: solid var(--clr-buttom);
    font-family: var(--ff-mon);
    font-weight: var(--fw-md);
    font-size: 4rem;
    border-radius: 3rem;
    border-width: .4rem;
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
    color: var(--clr-buttom);
    margin: auto;
    padding: 1rem;
    
}

.caracteristics-img{
    width: 2.5rem;
    height: 2.5rem;
}

/*Pag2*/
.img-thumb {
    display: flex;
    position: relative;
    padding: 0 1rem;
}

.dishes-img {
    width: 100%;
    border-radius: 3rem;
}


.tag-img {
    width: 3rem;
    height: 3rem;
}


.order-now-bottom {
    background: var(--clr-main);
    border: solid var(--clr-buttom);
    border-radius: 2rem;
    border-width: 0.3rem;
    color: var(--clr-buttom);


    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: auto;
    width: 80%;

    font-family: var(--ff-mon);
    font-size: var(--fs-main-text);
    font-weight: var(--fw-md);
    text-decoration: none;
}




.dish-price {

    display: block;
    position: absolute;
    background: var(--clr-buttom);
    color: var(--clr-withe);
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1% 10%;
    top: 0;
    left: 10%;
    transform: translate(10%, 0);
    font-family: var(--ff-mon);
    font-size: 2rem;

}


.return-bottom {
    position: absolute;
    left: 8rem;
    top: 12rem;
    display: flex;
    border: .2rem solid var(--clr-buttom);
    color: var(--clr-buttom);
    background-color: var(--clr-main);
    border-radius: 2rem;

    cursor: pointer;
    /* font-family: var(--ff-mon); */
    font-size: 2.5rem;

}

.left-arrow {
    padding: 0 2rem 0 2rem;
    text-decoration: none;
}


.line {
    margin-top: 4rem;
}
/*Pag2*/